/*{
    margin: 2;
    padding: 2;
}
*/

body{

    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial,Helvetica, sans-serif ;

    font-size: 14px;

    font-weight:normal;
    /*font: normal 16px arial , helvetica, sans-serif;*/
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: #333333;

}

a:hover{
    color: red;

}

a:active{

    color: green;
}

a:visited{
    color: purple;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333333;
    color: #fff;

   
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    border: 5px red solid;
    padding: 20px;
    margin-top: 20px;
    margin: 20px 0;
}

.button{
    background-color: rgb(247, 247, 247);
    color: #fff;
    padding: 5px 10px;
    border: none;
}


.box-1 h1{
    font-family: tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}


.box-2 {

    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;


}

.categories{

    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;

}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;

}

.categories li{
 
    padding-bottom: 8px;
    border-bottom:dotted 1px #333 ;
    /* list-style-image: url('../images/check.png')*/
}

.my-form{
    padding: 20px;

}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label{

    display:block;

}.my-form input[type="text"], .my-form textarea{

    padding: 8px;
    width: 100%;
}
  